/* 
    Created on : Sep 10, 2016, 9:39:07 PM
    Author     : Jelena
*/
body {
    background-image: url(../slike/pacijent.png);
    background-size: cover;
    background-color: azure;
}

#header {
    background-color: #009999;
    border: solid;
    border-color: #66ff66;
}
#naslov {
    text-align: left;
    padding-top: 5px;
    font-size: 40px;
    font-size: calc(20px + 1.5vw);
}
.sredina {
    width: 80%;
    min-width: 200px;
    max-width: 400px;
    margin-top: 10px;
}
textarea {
   resize: none;
}

