<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servleti.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Odeljenja</servlet-name>
        <servlet-class>Servleti.Odeljenja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOPunosIzvestaja</servlet-name>
        <servlet-class>Servleti.LOP.LOPunosIzvestaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoviKorisnik</servlet-name>
        <servlet-class>Servleti.NoviKorisnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacijentIstorijat</servlet-name>
        <servlet-class>Servleti.PAC.PacijentIstorijat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Odeljenja</servlet-name>
        <url-pattern>/Odeljenja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOPunosIzvestaja</servlet-name>
        <url-pattern>/LOPunosIzvestaja</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LOPgreska</servlet-name>
        <jsp-file>/LOP/LOPgreska.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LOPgreska</servlet-name>
        <url-pattern>/LOPgreska.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LOPunosIzvestaja.jsp</servlet-name>
        <jsp-file>/LOP/LOPunosIzvestaja.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LOPunosIzvestaja.jsp</servlet-name>
        <url-pattern>/LOPunosIzvestaja.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LOPuneto.jsp</servlet-name>
        <jsp-file>/LOP/LOPuneto.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LOPuneto.jsp</servlet-name>
        <url-pattern>/LOPuneto.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoviKorisnik</servlet-name>
        <url-pattern>/NoviKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacijentIstorijat</servlet-name>
        <url-pattern>/PacijentIstorijat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
