/* 
    Created on : Sep 9, 2016, 9:13:50 PM
    Author     : sasha
*/
span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  line-height: normal;
  color: rgb(243, 233, 224);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
a {
   position: relative;
   color: #ffffff;
   text-decoration: none;
   z-index: 1;
}
a:focus,
a:hover {
   color: #333333;
   text-decoration: none;
   outline: 0;
}
.navbar-default {
   background-color: #ffe6b3;
   border-color: #ffe6b3;
   border: none;
   border-radius: 0px;
   margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
   color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
   position: relative;
   width: 100%;
   font-weight: 700;
   display: inline-block;
   vertical-align: bottom;
   white-space: nowrap;
   overflow: hidden;
}
.navbar-default .navbar-nav>li>a::before {
   position: absolute;
   top: 0;
   left: -1px;
   z-index: -1;
   width: 102%;
   height: 100%;
   background: #F3E9E0;
   content: "";
   -webkit-transition: -webkit-transform .3s;
   transition: transform .3s;
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
}
.navbar-default .navbar-nav>li>a:hover::before,
.navbar-default .navbar-nav>li>a:focus::before {
   -webkit-transform: translateX(0);
   transform: translateX(0);
}

.navbar-default .navbar-brand {
   color: #333333;
}
