/* 
    Created on : Sep 10, 2016, 12:02:46 AM
    Author     : sasha
*/
body {
    background-image: url(./slike/nacelnik.png);
    background-size: cover;
    background-color: azure;
}
.sredina {
    width: 50%;
    min-width: 280px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.boldovano {
    text-decoration: darkorchid;
    font-size: calc(10px + 1.5vw);
}
#odabirL {
    width: auto;
}
